
@model webRGE.ViewModels.HistoryNameViewModel
@{
    ViewBag.Title = "Отчёт: история изменения наименования";
}
<p>Отчёт: история изменения наименования</p>
  <table data-v-1aee17f6="" class="table table-bordered">
            <thead data-v-1aee17f6="">
                <tr data-v-1aee17f6="">
                    <th data-v-1aee17f6="">C</th>
                    <th data-v-1aee17f6="">ПО</th>
                    <th data-v-1aee17f6="">Полное наименование</th>
                    <th data-v-1aee17f6="">Полное наименование Бел.</th>
                    <th data-v-1aee17f6="">Сокращенно наименование</th>
                    <th data-v-1aee17f6="">Сокращенно наименование Бел.</th>
                    <th data-v-1aee17f6="">Название</th>
                    <th data-v-1aee17f6="">Название Бел.</th>                    
                </tr>
            </thead>
            
            @foreach (var item in @Model.Report)
            {
                
                <tbody data-v-1aee17f6="">
                    <tr data-v-1aee17f6="">
                        <td data-v-1aee17f6="">@item.DFROM.ToString("dd.MM.yyyy")</td>
                        <td data-v-1aee17f6="">@if(@item.DTO.HasValue ){@item.DTO.Value.ToString("dd.MM.yyyy")}</td>
                        <td data-v-1aee17f6="">@item.VNAIM</td>                        
                        <td data-v-1aee17f6="">@item.VNAIMB</td>
                        <td data-v-1aee17f6="">@item.VN</td>
                        <td data-v-1aee17f6="">@item.VNB</td>
                        <td data-v-1aee17f6="">@item.VFN</td>                                                                      
                        <td data-v-1aee17f6="">@item.VFNB</td>
                        </tr>
                </tbody>
                
            }

        </table>